[submodule "enb_rrh/openairinterface5g"]
	path = enb_rrh/openairinterface5g
	url = https://gitlab.eurecom.fr/EvanKrall/openairinterface5g.git
[submodule "epc/openair-cn"]
	path = epc/openair-cn
	url = https://gitlab.eurecom.fr/oai/openair-cn.git
[submodule "scanner/LTE-Cell-Scanner"]
	path = scanner/LTE-Cell-Scanner
	url = https://github.com/JiaoXianjun/LTE-Cell-Scanner
